<form class="form-horizontal">
	<fieldset>
		<legend>${i18n.infrastructure}</legend>

		<div data-redmic-type="text" data-redmic-model="properties/name"></div>

		<div data-redmic-type="text" data-redmic-model="properties/code"></div>

		<div data-redmic-type="dateTimeTextBox" data-redmic-model="properties/date"></div>

		<div data-redmic-type="number" data-redmic-model="properties/z"></div>

		<div data-redmic-type="number" data-redmic-model="properties/rotate"></div>

		<div data-redmic-type="filter" data-redmic-model="properties/infrastructureType"></div>

		<div data-redmic-type="text" data-redmic-model="properties/url"></div>

		<div data-redmic-type="textarea" data-redmic-model="properties/description"></div>

		<div data-redmic-type="textarea" data-redmic-model="properties/remark"></div>
	</fieldset>
</form>