[submodule "client-app/style"]
	path = client-app/style
	url = ../style.git
	branch = master
	ignore = dirty
[submodule "client-app/dep/templates"]
	path = client-app/dep/templates
	url = ../templates.git
	branch = master
	ignore = dirty
