[submodule "client-app/stylesheets"]
	path = client-app/stylesheets
	url = ../style.git
	branch = master
	ignore = dirty
[submodule "client-app/javascript/templates"]
	path = client-app/javascript/templates
	url = ../templates.git
	branch = master
	ignore = dirty
