<div class="boxContainer">
	<div class="onlyBox termCondition bgWhite" data-dojo-attach-point="termConditionNode">
		<h1 class="titleRedmic">${i18n.termCondition}</h1>
		<div class="contentTermCondition" data-dojo-attach-point="termConditionContentNode">
			<h3>AVISO LEGAL</h3>

			<p>Las condiciones de acceso y uso de REDMIC se rigen por los principios de legalidad y de buena fe, comprometiéndose el usuario a utilizar el sitio web, así como la información o servicios suministrados, de conformidad con	la Ley, la moral, las buenas costumbres y el orden público. El acceso a	determinados servicios requieren un compromiso especial según se detalla a continuación:</p>

			<h3>COMPROMISOS DEL USUARIO REGISTRADO</h3>

			<p>Al registrarse como usuario en REDMIC usted acepta formalmente los siguientes compromisos en relación al uso de los datos e información que podrá descargar:</p>

			<ul>
				<li>La descarga de datos es gratuita.</li>

				<li>La presentación en otros medios de datos consultados o descargados de REDMIC así como su empleo en análisis posteriores obliga a reconocer y dar crédito a la fuente de los datos (figura en los metadatos), y muy particularmente en informes y en publicaciones formales.</li>

				<li>REDMIC mantiene un registro de descarga de datos y el usuario acepta que dicha información pueda ser empleada a efectos estadísticos y transferida a los titulares de los datos.</li>

				<li>La bibliografía descargada en formato pdf se usará solo con fines científicos y personales, sin que medie ninguna actividad comercial.</li>

				<li>Los productos elaborados ofrecidos en REDMIC se podrán referenciar por su título y créditos como:
				Disponible en <a href="https://www.redmic.es">www.redmic.es</a>.</li>
			</ul>

			<h3>COMPROMISOS DEL DEPOSITANTE DE DATOS</h3>

			<p>Al registrarse como "Depositante de datos" en REDMIC se asumen los compromisos derivados de la condición de "Usuario registrado", además de los siguientes que están ligados a la custodia y difusión de los datos que se aportan:</p>

			<ul>
				<li>Los datos y sus metadatos se aportan para su libre difusión en los términos recogidos en la presentes cláusulas que rigen la política de uso de datos de REDMIC.</li>

				<li>El depositante podrá establecer un período de embargo  durante el cual los datos no serán accesibles por terceros. La liberación de los datos se producirá de modo automático al finalizar dicho periodo de embargo, o con anterioridad si así lo comunica el depositante.</li>

				<li>En el caso de que los datos se aporten sin haber pasado control de calidad, el depositante acepta que el personal de REDMIC realice tal labor.</li>

				<li>El depositante podrá reclamar un certificado que acredite el uso de sus datos  (estadística de descargas).</li>

			</ul>

			<h3>Claves de acceso</h3>

			<p>El usuario se compromete a realizar un uso diligente de las claves de acceso, siendo responsable de la seguridad y confidencialidad de las mismas, y teniendo la obligación y la exclusiva responsabilidad de guardarlas y custodiarlas en lugar seguro con el fin de impedir el acceso a terceros no autorizados. El usuario se compromete además a comunicar al OAG, a la mayor brevedad posible, cualquier incidencia que se derive o pueda derivar en un riesgo para la confidencialidad de los datos.</p>

			<h3>Exención de responsabilidad</h3>

			<p>El OAG no se hace responsable de la veracidad de los datos depositados en REDMIC ni de la producción de cualquier tipo de daño que los usuarios o terceros pudieran ocasionar como resultado del uso de los datos obtenidos en este sitio web.</p>
		</div>
		<div class="boxButton">
			<div data-dojo-type="dijit/form/Button"
				data-dojo-props="class: 'danger btn-block'"
				data-dojo-attach-event="click: _onCloseTermCondition"><i class="fa fa-times"></i>
			</div>
		</div>
	</div>
</div>