extends layout

block error404
	#error404Container
		div
			span.fa.fa-exclamation-triangle.hatchElement
			span.expandingOpenElement 404
			span#goBack.hatchElement

	script(type='text/javascript').
		require([
			'app/views/404'
		], function(
			View
		){
			new View();
		});
