extends layout

block root
	#rootContainer
	script(type='text/javascript').
		var token = '#{token}',
			apiUrl = '#{apiUrl}';
		require([
			'app/views/ActivateAccount'
		], function(
			ActivateAccount
		){
			new ActivateAccount({
				token: token,
				apiUrl: apiUrl
			});
		});
