extends layout

block root
	#rootContainer
	script(type='text/javascript').
		var token = '#{token}';
		require([
			'app/user/views/ConfirmResettingView'
		], function(
			ConfirmResettingView
		){
			new ConfirmResettingView({
				token: token
			}).placeAt('rootContainer');
		});
