<div>
	<form class="form-horizontal">
		<fieldset>
			<legend>${i18n.taxon}</legend>

			<div data-redmic-type="filter" data-redmic-model="properties/taxon" data-redmic-props="
				labelAttr: 'scientificName',
				template: 'templates/SpeciesFilter'
			"></div>

			<div data-redmic-type="point" data-redmic-model="geometry/coordinates" data-redmic-actions="
				onGetMapLocation: 'onGetMapLocation'
			"></div>

			<div data-redmic-type="number" data-redmic-model="properties/z"></div>

			<div data-redmic-type="number" data-redmic-model="properties/deviation"></div>

			<div data-redmic-type="number" data-redmic-model="properties/radius" data-redmic-props="
				intermediateChanges: true
			"></div>

			<div data-redmic-type="filter" data-redmic-model="properties/speciesConfidence" data-redmic-props="
				label: 'confidence'
			"></div>
		</fieldset>

		<fieldset>
			<legend>${i18n.collector}</legend>

			<div data-redmic-type="text" data-redmic-model="properties/collectorName"></div>

			<div data-redmic-type="number" data-redmic-model="properties/specimenCount"></div>

			<div data-redmic-type="filter" data-redmic-model="properties/confidence"></div>
		</fieldset>

		<fieldset>
			<legend></legend>

			<div data-redmic-type="dateTimeTextBox" data-redmic-model="properties/startDate" data-redmic-props="
				propertyNameDependence: 'properties/endDate',
				dependenceType: 'startDate',
				dependenceDateWithEquals: true
			"></div>

			<div data-redmic-type="dateTimeTextBox" data-redmic-model="properties/endDate" data-redmic-props="
				propertyNameDependence: 'properties/startDate',
				dependenceType: 'endDate',
				dependenceDateWithEquals: true,
				valueOfLastTime: true
			"></div>

			<div data-redmic-type="textarea" data-redmic-model="properties/remark"></div>
		</fieldset>
	</form>
</div>
