extends layout

block loading
	#loadingContainer
		span.fa.fa-refresh.spinningElement

block root
	#rootContainer

	script.
		require([
			'redmic/modules/app/App'
		], function(
			App
		) {
			new App();
		});
