<div class="fWidth fHeight" data-dojo-attach-point="baseExternalNode">
	%[template]
	<!-- Footer -->
	<footer>
		<div class="flags">
			<a data-dojo-attach-event="click: _changeLang" data-dojo-props="es" class="flag-icon-background flag-icon-es"></a>
			<a data-dojo-attach-event="click: _changeLang" data-dojo-props="en" class="flag-icon-background flag-icon-gb"></a>
		</div>
		<div>
		</div>
		<div data-dojo-attach-event="click: _onShowWhatIsRedmic">
			<span class="href">${i18n.whatIsRedmic}</span>
		</div>
	</footer>
	<span class="versionNumber" data-dojo-attach-point="versionNumber"></span>
</div>
