<div>
	<form class="form-horizontal">
		<div data-redmic-type="text" data-redmic-model="code"></div>

		<div data-redmic-type="text" data-redmic-model="name"></div>

		<div data-redmic-type="filter" data-redmic-model="scope"></div>

		<div data-redmic-type="dateTimeTextBox" data-redmic-model="startDate" data-redmic-props="
			propertyNameDependence: 'endDate',
			dependenceType: 'startDate'
		"></div>

		<div data-redmic-type="dateTimeTextBox" data-redmic-model="endDate" data-redmic-props="
			propertyNameDependence: 'startDate',
			dependenceType: 'endDate'
		"></div>

		<div data-redmic-type="filter" data-redmic-model="parent" data-redmic-props="
			label: 'program',
			template: 'templates/ProgramFilter'
		"></div>

		<div data-redmic-type="filter" data-redmic-model="projectGroup"></div>

		<div data-redmic-type="filter" data-redmic-model="accessibility"></div>

		<div data-redmic-type="textarea" data-redmic-model="description"></div>

		<div data-redmic-type="textarea" data-redmic-model="note"></div>
	</form>
</div>
