<div class="fHeight fWidth">
	<div class="fHeight fWidth noSupport">
		<h2 class="textNoSupport titleRedmic">${i18n.noSupport}</h2>
		<a href="https://www.mozilla.org/es-ES/firefox/" target="_blank">
			<img class="" src="/resources/images/browsers/ff.png">
		</a>
		<a href="https://www.google.com/chrome/" target="_blank">
			<img class="iconMargin" src="/resources/images/browsers/chrome.png">
		</a>
		<a href="https://support.apple.com/es_ES/downloads/safari" target="_blank">
			<img class="iconMargin" src="/resources/images/browsers/safari.png">
		</a>
		<a href="http://www.opera.com/es" target="_blank">
			<img class="iconMargin" src="/resources/images/browsers/opera.png">
		</a>
	</div>
</div>
