<div class="fHeight fWidth">
	<div class="fHeight fWidth noSupport">
		<h2 class="textNoSupport titleRedmic">${i18n.noSupport}</h2>
		<a href="https://www.mozilla.org/firefox/" target="_blank">
			<img class="" src="/res/images/browsers/firefox.png">
		</a>
		<a href="https://www.google.com/chrome/" target="_blank">
			<img class="iconMargin" src="/res/images/browsers/chrome.png">
		</a>
		<a href="https://www.microsoft.com/edge/download/" target="_blank">
			<img class="iconMargin" src="/res/images/browsers/edge.png">
		</a>
		<a href="http://www.opera.com/" target="_blank">
			<img class="iconMargin" src="/res/images/browsers/opera.png">
		</a>
	</div>
</div>
