<div>
	<form class="form-horizontal">
		<div data-redmic-type="filter" data-redmic-model="parameter">
			<div class="embeddedButton" data-redmic-type="button" data-redmic-props="
				propertyName: 'onNewParameter',
				iconClass: 'fa-plus',
				class: 'primary',
				title: '${i18n.newParameter}'
			" data-redmic-actions="
				onClick: '_onNewParameter'
			"></div>
		</div>

		<div data-redmic-type="select" data-redmic-model="unit" data-redmic-props="
			propertyNameDependence: 'parameter',
			dependenceType: 'hidden',
			targetDependence: 'parameter',
			propertyPath: 'units',
			labelAttr: 'unit.name',
			idProperty: 'unit.id'
		"></div>

		<div data-redmic-type="filter" data-redmic-model="dataDefinition/device"></div>

		<div data-redmic-type="number" data-redmic-model="dataDefinition/z" data-redmic-props="
			label: 'zDepthAltitude'
		"></div>

		<div data-redmic-type="textarea" data-redmic-model="dataDefinition/description"></div>

		<div data-redmic-type="boolean" data-redmic-model="dataDefinition/isRegularity"></div>

		<div data-redmic-type="valueAndUnit" data-redmic-model="dataDefinition/timeInterval" data-redmic-props="
			difConvertToBase: 1,
			delta: 1,
			minSlider: 0,
			optionDefault: 1
		"></div>

		<div data-redmic-type="filter" data-redmic-model="dataDefinition/contact" data-redmic-props="
			labelAttr: '{firstName} {surname}',
			template: 'templates/ContactFilter'
		"></div>

		<div data-redmic-type="filter" data-redmic-model="dataDefinition/contactRole" data-redmic-props="
			propertyNameDependence: 'dataDefinition/contact',
			dependenceType: 'hidden',
			terms: {'ids':'6,7'},
			requiredWithDependence: true
		"></div>
	</form>
</div>
