<div>
	<form class="form-horizontal">
		<div data-redmic-type="filter" data-redmic-model="dataDefinition/device" data-redmic-props="
			required: true,
			target: 'device'
		"></div>

		<div data-redmic-type="number" data-redmic-model="dataDefinition/z" data-redmic-props="
			required: true,
			noEditable: true,
			label: 'zDepthAltitude'
		"></div>

		<div data-redmic-type="textarea" data-redmic-model="dataDefinition/description" data-redmic-props="
			required: true
		"></div>

		<!--<div data-redmic-type="boolean" data-redmic-model="dataDefinition/isSerial" data-redmic-props="
			noEditable: true,
			disable: true
		"></div>-->

		<div data-redmic-type="boolean" data-redmic-model="dataDefinition/isRegularity"></div>

		<div data-redmic-type="valueAndUnit" data-redmic-model="dataDefinition/timeInterval" data-redmic-props="
			difConvertToBase: 1,
			delta: 1,
			minSlider: 0,
			optionDefault: 1
		"></div>

		<!--<div data-redmic-type="boolean" data-redmic-model="dataDefinition/isRegularity" data-redmic-props="
			propertyNameDependence: 'dataDefinition/isSerial',
			dependenceType: 'hidden'
		"></div>

		<div data-redmic-type="valueAndUnit" data-redmic-model="dataDefinition/timeInterval" data-redmic-props="
			propertyNameDependence: 'dataDefinition/isSerial',
			dependenceType: 'hidden',
			optionDefault: 1,
			difConvertToBase: 1000,
			delta: 1,
			requiredWithDependence: true,
			minSlider: 1
		"></div>-->

		<div data-redmic-type="filter" data-redmic-model="dataDefinition/contact" data-redmic-props="
			labelAttr: '{firstName} {surname}',
			target: 'contact',
			template: 'templates/ContactFilter'
		"></div>

		<div data-redmic-type="filter" data-redmic-model="dataDefinition/contactRole" data-redmic-props="
			propertyNameDependence: 'dataDefinition/contact',
			dependenceType: 'hidden',
			target: 'contactRole',
			terms: {'ids':'6,7'},
			requiredWithDependence: true
		"></div>
	</form>
</div>
