<div>
	<form class="form-horizontal">
		<div data-redmic-type="slider" class="sliderInput" data-redmic-model="style/size" data-redmic-props="
			unit: 'px',
			precision: 0,
			valueMinMax: [0, 20]
		"></div>

		<div data-redmic-type="slider" class="sliderInput" data-redmic-model="style/opacity" data-redmic-props="
			unit: '',
			valueMinMax: [0, 1]
		"></div>

		<div data-redmic-type="color" data-redmic-model="style/color"></div>

		<!--<div data-redmic-type="select" data-redmic-model="style/icon"></div>-->
	</form>
</div>
